{% extends 'base.html.twig' %}

{% block title %} Categorías {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <a href="{{ path('app_category_new') }}" class="btn btn-primary float-right">Nueva categoría</a>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <table class="table table-striped" id="categories">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <th>{{ category.code }}</th>
                        <th>{{ category.name }}</th>
                        <th>{{ category.description }}</th>
                        <th>{{ category.active? 'Activa' : 'Inactiva' }}</th>
                        <th>
                            <a href="{{ path('app_category_edit', { id: category.id } ) }}" class="btn btn-primary">Editar</a>
                            <a href="#" class="btn btn-danger delete-category" data-id="{{ category.id }}">Eliminar</a>
                            <a href="#" class="btn btn-warning change-state" data-id="{{ category.id }}">{{ category.active? 'Desactivar' : 'Activar' }}</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#categories').DataTable( {
                "language": {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });
        });
    </script>
{% endblock %}
