{% extends 'base.html.twig' %}

{% block title %} Categorías {% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <a href="{{ path('app_category_new') }}" class="btn btn-primary float-right">Nueva categoría</a>
        </div>
    </div>

    {% if categories %}
        <div class="row mt-2">
            <div class="col">
                <table class="table table-striped" id="categories">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <th>{{ category.code }}</th>
                            <th>{{ category.name }}</th>
                            <th>{{ category.description }}</th>
                            <th>{{ category.active? 'Activa' : 'Inactiva' }}</th>
                            <th>
                                <a href="{{ path('app_category_edit', { id: category.id } ) }}" class="btn btn-primary">Editar</a>
                                <a href="#" class="btn btn-danger delete-category" data-id="{{ category.id }}">Eliminar</a>
                                <a href="#" class="btn btn-warning change-state" data-id="{{ category.id }}">{{ category.active? 'Desactivar' : 'Activar' }}</a>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
